@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  margin: 0px 6px;
  scroll-behavior: smooth;
  background-color: rgb(15 23 42);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184);
  width: 10px;
  height: 60px;
  border-radius: 20px;
}

.scroll-item {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.zero-scroll-item {
  background: url(/assets/sidcupfamilygolf.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

.first-scroll-item {
  background: url(/assets/sundownStudio.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

.second-scroll-item {
  background: url(/assets/blog.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

.third-scroll-item {
  background: url(/assets/human.jpg);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}


.fourth-scroll-item {
  background: url(/assets/todo.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

.fifth-scroll-item {
  background: url(/assets/shoes.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

.sixth-scroll-item {
  background: url(/assets/amazone.png);
  background-size: cover;
  height: 300px !important;
  background-position: top;
  opacity: 60%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease;
}

/* .first-scroll-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.zero-scroll-item:hover,
.first-scroll-item:hover,
.second-scroll-item:hover,
.third-scroll-item:hover,
.fourth-scroll-item:hover,
.fifth-scroll-item:hover,
.sixth-scroll-item:hover {
  background-position: bottom;
}